{% set stylePrefix = j3.document.isPopup('quickview') ? 'quickviewPageStyle' : 'productPageStyle' %}
{% set optionPrice = j3.settings.get(stylePrefix ~ 'OptionPrice') %}
{% set direction = j3.settings.get(stylePrefix ~ 'AdditionalImagesPosition') == 'left' or j3.settings.get(stylePrefix ~ 'AdditionalImagesPosition') == 'right' ? 'vertical' : 'horizontal' %}
{% set carousel = direction == 'vertical' or j3.settings.get(stylePrefix ~ 'AdditionalImagesCarousel') %}
{% set carouselOptions = {
	slidesPerView: 'auto',
	spaceBetween: j3.settings.get(stylePrefix ~ 'AdditionalImagesSpacing')|default(0),
	direction: direction
} %}
{% set galleryOptions = {
	thumbWidth: j3.settings.get('image_dimensions_popup_thumb.width'),
	thumbConHeight: j3.settings.get('image_dimensions_popup_thumb.height'),
	addClass: 'lg-product-images',
	mode: j3.settings.get(stylePrefix ~ 'GalleryMode'),
	download: j3.settings.get(stylePrefix ~ 'GalleryDownload'),
	fullScreen: j3.settings.get(stylePrefix ~ 'GalleryFullScreen')
} %}
{% set quickviewExpand = not j3.settings.get('quickviewExpandButton') or (j3.settings.get('globalExpandCharactersLimit') > 0 and description and description|length <= j3.settings.get('globalExpandCharactersLimit')) ? 'no-expand': '' %}
{% if j3.isDescriptionEmpty(description) %}
	{% set description = '' %}
{% endif %}
{{ header }}
{% if not j3.document.isPopup() %}
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	{% if j3.settings.get('pageTitlePosition') == 'top' %}
		<h1 class="title page-title">
			<span>{{ heading_title }}</span>
		</h1>
	{% endif %}
	{{ j3.loadController('journal3/layout', 'top') }}
	<style>
		.content-checket {
			padding: 0 !important;
		}
	</style>
<div id="product-product" class="container">
	<div class="row">{{ column_left }}
		<div id="content" class="content-checket {{ class }}">
			{% endif %}
			{{ content_top }}
			{% if not j3.document.isPopup('options') %}
				{% if j3.settings.get('pageTitlePosition') == 'default' or j3.document.isPopup('quickview') %}
					<h1 class="title page-title">{{ heading_title }}</h1>
				{% endif %}
			{% endif %}
			{% set classes = j3.classes({
				'out-of-stock': product_quantity <= 0,
				'has-countdown': date_end,
				'has-zero-price': not product_price_value,
				'has-extra-button': product_extra_buttons,
			}) ~ ' ' ~ product_exclude_classes %}
			<div class="product-info {{ classes }}">
				{% if not j3.document.isPopup('options') %}
					<div class="product-left">
						<div class="product-image direction-{{ direction }} position-{{ j3.settings.get(stylePrefix ~ 'AdditionalImagesPosition') }}">
							<div class="product-image_wishlist">
							<a href=""> <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16">
								<path d="M15.4501 1.69499C14.5489 0.736312 13.3542 0.151192 12.0819 0.0453197C10.8095 -0.0605522 9.54347 0.319805 8.51236 1.11769C7.43059 0.264034 6.08414 -0.123053 4.74413 0.0343756C3.40413 0.191804 2.17012 0.882054 1.2906 1.96613C0.41108 3.0502 -0.0486183 4.44756 0.00407713 5.87683C0.0567725 7.3061 0.617948 8.6611 1.5746 9.66897L6.85444 15.2796C7.29657 15.7413 7.89203 16 8.51236 16C9.13269 16 9.72815 15.7413 10.1703 15.2796L15.4501 9.66897C16.4428 8.60932 17 7.17599 17 5.68198C17 4.18796 16.4428 2.75464 15.4501 1.69499ZM14.2513 8.42416L8.97148 14.0258C8.9114 14.0902 8.83989 14.1413 8.76108 14.1761C8.68228 14.211 8.59774 14.2289 8.51236 14.2289C8.42698 14.2289 8.34244 14.211 8.26364 14.1761C8.18483 14.1413 8.11332 14.0902 8.05324 14.0258L2.7734 8.3971C2.10663 7.67398 1.73325 6.7026 1.73325 5.691C1.73325 4.6794 2.10663 3.70802 2.7734 2.9849C3.45286 2.27318 4.36923 1.8741 5.32405 1.8741C6.27886 1.8741 7.19524 2.27318 7.8747 2.9849C7.95374 3.06944 8.04777 3.13655 8.15138 3.18234C8.25498 3.22814 8.36611 3.25172 8.47835 3.25172C8.59059 3.25172 8.70172 3.22814 8.80532 3.18234C8.90893 3.13655 9.00297 3.06944 9.082 2.9849C9.76146 2.27318 10.6778 1.8741 11.6327 1.8741C12.5875 1.8741 13.5038 2.27318 14.1833 2.9849C14.8592 3.69854 15.2449 4.66466 15.2576 5.67628C15.2703 6.68791 14.9091 7.66459 14.2513 8.3971V8.42416Z"/>
								</svg> </a>
							</div>
							<div class="swiper main-image" data-options='{{ j3.carousel(j3.document.getJs(), stylePrefix ~ 'ImageCarouselStyle')|json_encode(constant('JSON_FORCE_OBJECT')) }}' {% if images|length > 1 and j3.settings.get(stylePrefix ~ 'AdditionalImagesStatus') and carousel and direction == 'vertical' %} style="width: calc(100% - {{ j3.settings.get('image_dimensions_additional.width') }}px)" {% endif %}>
								<div class="swiper-container" {% if j3.isRTL() %} dir="rtl" {% endif %}>
									<div class="swiper-wrapper">
										{% set gallery = [] %}
										{% for image in images %}
											{% set gallery = gallery|merge([{src: image.popup, thumb: image.galleryThumb, subHtml: heading_title}]) %}
											<div class="swiper-slide" {% if not j3.document.isPopup() and j3.settings.get(stylePrefix ~ 'GalleryStatus') %} data-gallery=".lightgallery-product-images" data-index="{{ loop.index0 }}" {% endif %}>
												<img src="{{ image.image }}" {% if image.image2x %} srcset="{{ image.image }} 1x, {{ image.image2x }} 2x" {% endif %} data-largeimg="{{ image.popup }}" alt="{{ heading_title }}" title="{{ heading_title }}" width="{{ j3.settings.get('image_dimensions_thumb.width') }}" height="{{ j3.settings.get('image_dimensions_thumb.height') }}"/>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="swiper-controls">
									<div class="swiper-buttons">
										<div class="swiper-button-prev"></div>
										<div class="swiper-button-next"></div>
									</div>
									<div class="swiper-pagination"></div>
								</div>
								{% if product_labels %}
									<div class="product-labels">
										{% for id, label in product_labels %}
											<span class="product-label product-label-{{ id }} product-label-{{ label.display }}">
												<b>{{ label.label }}</b>
											</span>
										{% endfor %}
									</div>
								{% endif %}
							</div>
							{% if images|length > 1 and j3.settings.get(stylePrefix ~ 'AdditionalImagesStatus') %}
								{% if carousel %}
									<div class="swiper additional-images" data-options='{{ carouselOptions|json_encode(constant('JSON_FORCE_OBJECT')) }}' {% if direction == 'vertical' %} style="width: {{ j3.settings.get('image_dimensions_additional.width') }}px" {% endif %}>
										<div class="swiper-container" {% if j3.isRTL() %} dir="rtl" {% endif %}>
											<div class="swiper-wrapper">
												<div class="swiper-slide-video"></div>
												{% for image in images %}
													<div class="swiper-slide additional-image" data-index="{{ loop.index0 }}">
														<img src="{{ image.video }}" {% if image.thumb2x %} srcset="{{ image.thumb }} 1x, {{ image.thumb2x }} 2x" {% endif %} alt="{{ heading_title }}" title="{{ heading_title }}"/>
													</div>
												{% endfor %}
											</div>
										</div>
										<div class="swiper-buttons">
											<div class="swiper-button-prev"></div>
											<div class="swiper-button-next"></div>
										</div>
										<div class="swiper-pagination"></div>
									</div>
								{% else %}
									<div class="additional-images">
										{% for image in images %}
											<div class="additional-image" data-index="{{ loop.index0 }}">
												<img src="{{ image.thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}"/>
											</div>
										{% endfor %}
									</div>
								{% endif %}
							{% endif %}
						</div>
						{% if not j3.document.isPopup() and j3.settings.get(stylePrefix ~ 'GalleryStatus') %}
							<div class="lightgallery lightgallery-product-images" data-images='{{ gallery|json_encode|e }}' data-options='{{ galleryOptions|json_encode(constant('JSON_FORCE_OBJECT')) }}'></div>
						{% endif %}
						{% if not j3.document.isPopup('options') %}
							{% if product_blocks.image %}
								<div class="product-blocks blocks-image">
									{{ product_blocks.image|join }}
								</div>
							{% endif %}
						{% endif %}
						{% if description and j3.document.isPopup('quickview') and j3.settings.get('quickviewDescription') and (j3.settings.get('quickviewDescriptionPosition') == 'image') %}
							<div class="description {{ quickviewExpand }}">
								<div class="expand-block">
									<div class="expand-content">
										{{ description }}
									</div>
									{% if j3.settings.get('quickviewExpandButton') %}
										<div class="block-expand-overlay">
											<a class="block-expand btn"></a>
										</div>
									{% endif %}
								</div>
							</div>
						{% endif %}
						{% if tags and not j3.document.isPopup() and (j3.settings.get(stylePrefix ~ 'TagsPosition') == 'image') %}
							<div class="tags">
								<span class="tags-title">{{ text_tags }}</span>
								{% for tag in tags %}
									<a href="{{ tag.href }}">{{ tag.tag }}</a>
									{% if not loop.last %}
										<b>,</b>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endif %}
				<div class="product-right right-row">
					<div class="right-first">
						<!--//test-->

						<div id="product" class="product-details">

							{% if j3.settings.get('catalogCartStatus') or j3.settings.get('catalogWishlistStatus') or j3.settings.get('catalogCompareStatus') or (product_extra_buttons and not j3.document.isPopup()) %}
								<div class="button-group-page">
									<div class="buttons-wrapper">
										<div class="stepper-group cart-group">
											{% if j3.settings.get('catalogCartStatus') %}


												<div class="stepper">
																									<span class="stepper-arrow stepper__minus" v-on:click="updateCartItemQuantity(index, -1)">
																										<svg height="1em" viewbox="0 0 320 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
																									</span>
													<label class="control-label" for="product-quantity">{{ entry_qty }}</label>
													<input id="product-quantity" type="text" name="quantity" value="{{ minimum }}" data-minimum="{{ minimum }}" class="form-control"/>
													<input id="product-id" type="hidden" name="product_id" value="{{ product_id }}"/>
													<span class="stepper-arrow stepper__plus" v-on:click="updateCartItemQuantity(index, 1)">
																										<svg height="1em" viewbox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
																									</span>

												</div>
												<a id="button-cart" data-loading-text="<span class='btn-text'>{{ button_cart }}</span>" class="btn btn-cart" {% if (j3.settings.get(stylePrefix ~ 'CartDisplay') == "icon") and (j3.settings.get(stylePrefix ~ 'CartTooltipStatus')) %} data-toggle="tooltip" data-tooltip-class="pp-cart-tooltip" data-placement="{{ j3.settings.get(stylePrefix ~ 'CartTooltipPosition') }}" title="{{ button_cart }}" {% endif %}>
													<span class="btn-text">{{ button_cart }}</span>
												</a>
											{% endif %}
											{% if product_extra_buttons and not j3.document.isPopup() %}
												<div class="extra-group">
													{% for id, extra_button in product_extra_buttons %}
														<a class="btn btn-extra btn-extra-{{ id }} btn-{{ loop.index }}-extra" {% if (j3.settings.get(stylePrefix ~ 'Extra' ~ loop.index ~ 'ButtonDisplay') == "icon") and (j3.settings.get(stylePrefix ~ 'ExtraTooltipStatus')) %} data-toggle="tooltip" data-tooltip-class="extra-tooltip pp-extra-tooltip" data-placement="{{ j3.settings.get(stylePrefix ~ 'ExtraTooltipPosition') }}" title="{{ extra_button.label }}" {% endif %} {% if extra_button.action == 'quickbuy' %} data-quick-buy {% endif %} {% if extra_button.action == 'link' and extra_button.link.href %} href="{{ extra_button.link.href }}" {{ j3.linkAttrs(extra_button.link) }} data-product_id="{{ product_id }}" {% endif %} data-loading-text="<span class='btn-text'>{{ extra_button.label }}</span>">
															<span class="btn-text">{{ extra_button.label }}</span>
														</a>
													{% endfor %}
												</div>
											{% endif %}
										</div>

									</div>
								</div>
							{% endif %}


						</div>
						<!--//test-->
						<div id="product" class="product-details">
							<div class="product-details__top">
								{% if j3.settings.get(stylePrefix ~ 'ProductStock')%}
									<div class="product-stock {% if product_quantity > 0 %}in-stock{% else %}out-of-stock{% endif %}">
										{# <b>{{ j3.settings.get(stylePrefix ~ 'ProductStockText') }}</b> #}
										<span>{{ stock }}</span>
									</div>
								{% endif %}
								{% if j3.settings.get(stylePrefix ~ 'ProductSKU') and product_sku %}
									<div class="product-sku">
										<p>Код товару:
											{{ product_sku }}</p>
									</div>
								{% endif %}
							</div>
							<div class="title page-title">{{ heading_title }}</div>
							<p class="product-details__text">Створіть ідеальний мікроклімат в приміщенні завдяки сучасним технологіям та поліпшеній функції очищення повітря.</p>
							<p class="product-details__characteristics-title">Характеристики</p>
							<table class="table table-bordered">
								{% for attribute in attribute_one %}
									{% if attribute.top == 1  %}
										<span style="max-width: 75%;" class="first__name__cust">
                                          {{ attribute.name }}
                                        </span>
										<span class="first__text__cust">
                                          {{ attribute.text }}
                                        </span>
									{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="right-second second">
						<div class="second__bg">
							{% if price and not j3.document.isPopup('options') %}
								<div class="second__price">
									{% if not special %}
										<p class="second__current-price">{{ price }}</p>
									{% else %}
										<p class="second__current-price">{{ price }}</p>
										<p class="second__old-price">{{ special }}</p>
									{% endif %}



									<div class="product-price-group">
										<div class="price-wrapper">
											{% if points %}
												<div class="product-points">{{ text_points }}
													{{ points }}</div>
											{% endif %}

											{% if discounts %}
												<div class="discounts">
													{% for discount in discounts %}
														<div class="product-discount">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
													{% endfor %}
												</div>
											{% endif %}
										</div>
									</div>

								</div>
								{% if difference is not null %}
									<p class="price-difference second__saving">економія {{ difference }} ₴</p>
								{% endif %}
							{% endif %}

							<div class="stepper-group cart-group">
								<a id="button-cart" data-loading-text="<span class='btn-text'>{{ button_cart }}</span>" class="second__cart btn btn-cart"  data-toggle="tooltip" data-tooltip-class="pp-cart-tooltip"  title="{{ button_cart }}">
									<p class="second__cart-text">{{ button_cart }}</p>
									<svg width="16" height="16" viewbox="0 0 16 16" fill="none">
										<path d="M9.59802 12.8104C9.81096 12.8104 10.0152 12.7264 10.1657 12.5769C10.3163 12.4273 10.4009 12.2245 10.4009 12.0131V10.4183C10.4009 10.2068 10.3163 10.004 10.1657 9.85445C10.0152 9.70491 9.81096 9.6209 9.59802 9.6209C9.38508 9.6209 9.18086 9.70491 9.03029 9.85445C8.87972 10.004 8.79513 10.2068 8.79513 10.4183V12.0131C8.79513 12.2245 8.87972 12.4273 9.03029 12.5769C9.18086 12.7264 9.38508 12.8104 9.59802 12.8104ZM6.38647 12.8104C6.59941 12.8104 6.80363 12.7264 6.9542 12.5769C7.10477 12.4273 7.18936 12.2245 7.18936 12.0131V10.4183C7.18936 10.2068 7.10477 10.004 6.9542 9.85445C6.80363 9.70491 6.59941 9.6209 6.38647 9.6209C6.17353 9.6209 5.96931 9.70491 5.81874 9.85445C5.66817 10.004 5.58358 10.2068 5.58358 10.4183V12.0131C5.58358 12.2245 5.66817 12.4273 5.81874 12.5769C5.96931 12.7264 6.17353 12.8104 6.38647 12.8104ZM13.6125 3.24183H12.5045L11.1155 0.490853C11.073 0.389627 11.01 0.298184 10.9304 0.222236C10.8508 0.146289 10.7562 0.0874696 10.6526 0.0494545C10.5491 0.0114394 10.4387 -0.00495455 10.3285 0.0012971C10.2183 0.00754876 10.1105 0.0363118 10.012 0.0857885C9.91348 0.135265 9.82628 0.204392 9.75587 0.28885C9.68546 0.373308 9.63334 0.471281 9.60277 0.576646C9.57221 0.682012 9.56386 0.792506 9.57823 0.901223C9.59261 1.00994 9.62941 1.11454 9.68634 1.2085L10.706 3.24183H5.27849L6.29815 1.2085C6.37609 1.02263 6.38034 0.814369 6.31005 0.62552C6.23977 0.436671 6.10016 0.281218 5.91924 0.190371C5.73833 0.0995242 5.5295 0.0800096 5.3347 0.135745C5.1399 0.19148 4.97353 0.318339 4.86901 0.490853L3.48002 3.24183H2.37204C1.80455 3.2504 1.25833 3.45772 0.829729 3.82721C0.401126 4.19671 0.117668 4.70465 0.029348 5.26145C-0.0589722 5.81825 0.0535193 6.38813 0.346982 6.8706C0.640445 7.35307 1.09603 7.71712 1.63338 7.89855L2.22752 13.847C2.28743 14.4391 2.56741 14.9878 3.0128 15.3859C3.45818 15.784 4.03698 16.003 4.63618 16H11.3644C11.9636 16.003 12.5424 15.784 12.9878 15.3859C13.4331 14.9878 13.7131 14.4391 13.773 13.847L14.3672 7.89855C14.9057 7.71658 15.362 7.3512 15.6552 6.86712C15.9485 6.38304 16.0598 5.8115 15.9694 5.25374C15.879 4.69598 15.5927 4.18799 15.1614 3.81975C14.73 3.45151 14.1813 3.24678 13.6125 3.24183ZM12.1592 13.6876C12.1393 13.8849 12.0459 14.0678 11.8975 14.2005C11.749 14.3332 11.5561 14.4062 11.3563 14.4052H4.62815C4.42842 14.4062 4.23548 14.3332 4.08702 14.2005C3.93856 14.0678 3.84523 13.8849 3.82526 13.6876L3.25521 8.02613H12.7293L12.1592 13.6876ZM13.6125 6.43136H2.37204C2.1591 6.43136 1.95488 6.34735 1.80431 6.19781C1.65374 6.04828 1.56915 5.84546 1.56915 5.63398C1.56915 5.4225 1.65374 5.21968 1.80431 5.07014C1.95488 4.92061 2.1591 4.8366 2.37204 4.8366H13.6125C13.8254 4.8366 14.0296 4.92061 14.1802 5.07014C14.3308 5.21968 14.4153 5.4225 14.4153 5.63398C14.4153 5.84546 14.3308 6.04828 14.1802 6.19781C14.0296 6.34735 13.8254 6.43136 13.6125 6.43136Z" fill="white"/>
									</svg>
								</a>
							</div>
{#							<p class="second__pay-one-click">{{ text__pay_one_click }}</p>#}
{#							<form action="#" method="POST" class="second__form">#}
{#								<input class="second__form-input" type="tel" id="phone" name="phone" placeholder="+38 093 000-00-00" required>#}
{#								<button class="second__form-submut" type="submit">{{ text__buy }}</button>#}
{#							</form>#}

                            <!--//-->
							<div id="oneclick" >
								<p class="second__pay-one-click">{{ text__pay_one_click }}</p>
									<input class="second__form-input" style="height: 57px;" type="text" name="telephone" value="" placeholder="+38 093 000-00-00" id="input-payment-telephone">
									<input type="hidden" name="product_id" value="{{ product_id }}">
								    <button type="submit" id="button-oneclick" class="second__form-submut" >{{ text__buy }}</button>
							</div>
							<!--//-->

							<div class="second__delivery">
								<p class="second__delivery-text">{{ text__delivery }}</p>
								<a href="{{ base }}delivery-information" class="second__details">{{ text__details }}</a>
							</div>
						</div>
						<div class="second__buy-on-credit">
							<p class="second__buy-on-credit_title">{{ text__buy_on_credit }}</p>
							<div class="second__buy-on-credit_row">

								<button type="button" class="second__buy-on-credit_button" data-toggle="modal" data-target="#exampleModalCenter">
									{{ text__buy_on_credit }}
								</button>
								<div class="second__buy-on-credit_text">
									{% if not special %}
										<p class="second__buy-on-credit_price">{{ price }}</p>
									{% else %}
										<p class="second__buy-on-credit_price">{{ special }}</p>
										<p class="second__old-price">{{ price }}</p>
									{% endif %}
{#									<p class="second__buy-on-credit_price">{{ price }}</p>#}
									<p class="second__buy-on-credit_payments">{{ credit_x_six_payments }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-body">
						<button type="button" class="second__form-submut popup_productpage_chastyami_close" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></button>
							<form id="popup_productpage_chastyami" class="popup_productpage_chastyami fancybox-content" action="" method="post" style="display: inline-block;">
								<div class="popup_title">
									{{ credit_pay_in_installments }}
								</div>
								<div class="popup_productpage_chastyami_table_thead">
									<div class="popup_productpage_chastyami_table_thead_th popup_productpage_chastyami_type_credit">{{ credit_type_of_loan }}</div>
									<div class="popup_productpage_chastyami_table_thead_th popup_productpage_chastyami_period_month">{{ credit_term }}</div>
									<div class="popup_productpage_chastyami_table_thead_th popup_productpage_chastyami_month_payment">{{ credit_monthly_payment }}</div>
									<div class="popup_productpage_chastyami_table_thead_th popup_productpage_chastyami_btn_wrapper"></div>
								</div>

								<div class="popup_productpage_chastyami_item" data-type="payment_pb_chastyami">
									<div class="popup_productpage_chastyami_type_credit">
										<div class="popup_productpage_chastyami_privat">
											<img src="/catalog/view/theme/default/image/icon_pb_logo.png" class="popup_productpage_chastyami_privat_logo" alt="">
											<div class="popup_productpage_chastyami_privat_text">
												<span class="popup_productpage_chastyami_privat_bank">{{ credit_privat_bank }}</span>
												<span class="popup_productpage_chastyami_privat_type">{{ credit_instant_installment }}</span>
											</div>
											<img src="/catalog/view/theme/default/image/pp_logo.png" class="popup_productpage_chastyami_privat_method_logo" alt="">
										</div>
									</div>
									<div class="popup_productpage_chastyami_conditions">
										<div class="popup_productpage_chastyami_period_month">
											<div class="selectric-wrapper">
												<div class="selectric-hide-select">
													<select tabindex="-1">
														<option value="2">2</option>
														<option value="3" selected="selected">3</option>
													</select>
												</div>
														
														
													<input class="selectric-input" tabindex="0">
											</div>
											<span>{{ credit_months }}</span>
										</div>
										<div class="popup_productpage_chastyami_month_payment">
											{# <span data-month="3">3 508.39 ₴</span> #}
											<span data-month="2">5 262.05 ₴</span>
										</div>
										<div class="popup_productpage_chastyami_btn_wrapper">
											<div class="popup_productpage_chastyami_btn">
												<span>{{ credit_continue }}</span>
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9975 16.013C12.2637 16.013 12.519 15.908 12.7072 15.7211C12.8954 15.5342 13.0011 15.2807 13.0011 15.0163V13.0229C13.0011 12.7585 12.8954 12.505 12.7072 12.3181C12.519 12.1311 12.2637 12.0261 11.9975 12.0261C11.7313 12.0261 11.4761 12.1311 11.2879 12.3181C11.0997 12.505 10.9939 12.7585 10.9939 13.0229V15.0163C10.9939 15.2807 11.0997 15.5342 11.2879 15.7211C11.4761 15.908 11.7313 16.013 11.9975 16.013ZM7.98309 16.013C8.24926 16.013 8.50453 15.908 8.69275 15.7211C8.88096 15.5342 8.9867 15.2807 8.9867 15.0163V13.0229C8.9867 12.7585 8.88096 12.505 8.69275 12.3181C8.50453 12.1311 8.24926 12.0261 7.98309 12.0261C7.71691 12.0261 7.46164 12.1311 7.27343 12.3181C7.08522 12.505 6.97948 12.7585 6.97948 13.0229V15.0163C6.97948 15.2807 7.08522 15.5342 7.27343 15.7211C7.46164 15.908 7.71691 16.013 7.98309 16.013ZM17.0156 4.05228H15.6306L13.8943 0.613566C13.8413 0.487034 13.7625 0.37273 13.663 0.277795C13.5634 0.182861 13.4452 0.109337 13.3158 0.0618182C13.1863 0.0142993 13.0484 -0.00619319 12.9106 0.00162138C12.7728 0.00943595 12.6382 0.0453897 12.515 0.107236C12.3918 0.169081 12.2829 0.25549 12.1948 0.361062C12.1068 0.466635 12.0417 0.589101 12.0035 0.720808C11.9653 0.852515 11.9548 0.990633 11.9728 1.12653C11.9908 1.26243 12.0368 1.39318 12.1079 1.51062L13.3825 4.05228H6.59811L7.87269 1.51062C7.97011 1.27829 7.97542 1.01796 7.88757 0.7819C7.79971 0.545839 7.62519 0.351522 7.39905 0.237964C7.17291 0.124405 6.91188 0.100012 6.66838 0.169681C6.42487 0.23935 6.21692 0.397924 6.08627 0.613566L4.35002 4.05228H2.96504C2.25568 4.063 1.57291 4.32214 1.03716 4.78402C0.501408 5.24589 0.147085 5.88081 0.036685 6.57681C-0.0737153 7.27281 0.0668992 7.98517 0.433728 8.58825C0.800557 9.19133 1.37004 9.6464 2.04172 9.87319L2.78439 17.3088C2.85929 18.0489 3.20927 18.7348 3.766 19.2324C4.32273 19.73 5.04623 20.0037 5.79522 20H14.2055C14.9545 20.0037 15.678 19.73 16.2347 19.2324C16.7914 18.7348 17.1414 18.0489 17.2163 17.3088L17.959 9.87319C18.6321 9.64573 19.2025 9.189 19.5691 8.5839C19.9356 7.9788 20.0747 7.26438 19.9617 6.56718C19.8487 5.86998 19.4909 5.23499 18.9517 4.77469C18.4125 4.31439 17.7266 4.05848 17.0156 4.05228ZM15.199 17.1094C15.1741 17.3562 15.0574 17.5848 14.8718 17.7506C14.6863 17.9165 14.4451 18.0077 14.1954 18.0065H5.78518C5.53552 18.0077 5.29435 17.9165 5.10878 17.7506C4.9232 17.5848 4.80654 17.3562 4.78158 17.1094L4.06901 10.0327H15.9116L15.199 17.1094ZM17.0156 8.0392H2.96504C2.69887 8.0392 2.4436 7.93419 2.25539 7.74727C2.06717 7.56035 1.96144 7.30682 1.96144 7.04247C1.96144 6.77812 2.06717 6.5246 2.25539 6.33768C2.4436 6.15076 2.69887 6.04574 2.96504 6.04574H17.0156C17.2817 6.04574 17.537 6.15076 17.7252 6.33768C17.9134 6.5246 18.0192 6.77812 18.0192 7.04247C18.0192 7.30682 17.9134 7.56035 17.7252 7.74727C17.537 7.93419 17.2817 8.0392 17.0156 8.0392Z" fill="white"></path></svg>
											</div>
										</div>
									</div>
								</div>
								
								<div class="popup_productpage_chastyami_item" data-type="payment_pb_rassrochka">
									<div class="popup_productpage_chastyami_type_credit">
										<div class="popup_productpage_chastyami_privat popup_productpage_chastyami_privat_rassrochka">
											<img src="/catalog/view/theme/default/image/icon_pb_logo.png" class="popup_productpage_chastyami_privat_logo" alt="">
											<div class="popup_productpage_chastyami_privat_text">
												<span class="popup_productpage_chastyami_privat_bank">{{ credit_privat_bank }}</span>
												<span class="popup_productpage_chastyami_privat_type">{{ credit_payment_in_installments }}</span>
											</div>
											<img src="/catalog/view/theme/default/image/ip_logo.png" class="popup_productpage_chastyami_privat_method_logo" alt="">
										</div>
									</div>

									<div class="popup_productpage_chastyami_conditions">
										<div class="popup_productpage_chastyami_period_month">
											<div class="selectric-wrapper"><div class="selectric-hide-select"><select tabindex="-1">
														<option value="2">2</option>
														<option value="3" selected="selected">3</option>
													</select></div>
													
															
														<input class="selectric-input" tabindex="0">
													</div>
											<span>{{ credit_months }}</span>
										</div>
										<div class="popup_productpage_chastyami_month_payment">
											{# <span data-month="3">3 812.47 ₴</span> #}
											<span data-month="2">5 566.14 ₴</span>
										</div>
										<div class="popup_productpage_chastyami_btn_wrapper">
											<div class="popup_productpage_chastyami_btn">
												<span>{{ credit_continue }}</span>
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9975 16.013C12.2637 16.013 12.519 15.908 12.7072 15.7211C12.8954 15.5342 13.0011 15.2807 13.0011 15.0163V13.0229C13.0011 12.7585 12.8954 12.505 12.7072 12.3181C12.519 12.1311 12.2637 12.0261 11.9975 12.0261C11.7313 12.0261 11.4761 12.1311 11.2879 12.3181C11.0997 12.505 10.9939 12.7585 10.9939 13.0229V15.0163C10.9939 15.2807 11.0997 15.5342 11.2879 15.7211C11.4761 15.908 11.7313 16.013 11.9975 16.013ZM7.98309 16.013C8.24926 16.013 8.50453 15.908 8.69275 15.7211C8.88096 15.5342 8.9867 15.2807 8.9867 15.0163V13.0229C8.9867 12.7585 8.88096 12.505 8.69275 12.3181C8.50453 12.1311 8.24926 12.0261 7.98309 12.0261C7.71691 12.0261 7.46164 12.1311 7.27343 12.3181C7.08522 12.505 6.97948 12.7585 6.97948 13.0229V15.0163C6.97948 15.2807 7.08522 15.5342 7.27343 15.7211C7.46164 15.908 7.71691 16.013 7.98309 16.013ZM17.0156 4.05228H15.6306L13.8943 0.613566C13.8413 0.487034 13.7625 0.37273 13.663 0.277795C13.5634 0.182861 13.4452 0.109337 13.3158 0.0618182C13.1863 0.0142993 13.0484 -0.00619319 12.9106 0.00162138C12.7728 0.00943595 12.6382 0.0453897 12.515 0.107236C12.3918 0.169081 12.2829 0.25549 12.1948 0.361062C12.1068 0.466635 12.0417 0.589101 12.0035 0.720808C11.9653 0.852515 11.9548 0.990633 11.9728 1.12653C11.9908 1.26243 12.0368 1.39318 12.1079 1.51062L13.3825 4.05228H6.59811L7.87269 1.51062C7.97011 1.27829 7.97542 1.01796 7.88757 0.7819C7.79971 0.545839 7.62519 0.351522 7.39905 0.237964C7.17291 0.124405 6.91188 0.100012 6.66838 0.169681C6.42487 0.23935 6.21692 0.397924 6.08627 0.613566L4.35002 4.05228H2.96504C2.25568 4.063 1.57291 4.32214 1.03716 4.78402C0.501408 5.24589 0.147085 5.88081 0.036685 6.57681C-0.0737153 7.27281 0.0668992 7.98517 0.433728 8.58825C0.800557 9.19133 1.37004 9.6464 2.04172 9.87319L2.78439 17.3088C2.85929 18.0489 3.20927 18.7348 3.766 19.2324C4.32273 19.73 5.04623 20.0037 5.79522 20H14.2055C14.9545 20.0037 15.678 19.73 16.2347 19.2324C16.7914 18.7348 17.1414 18.0489 17.2163 17.3088L17.959 9.87319C18.6321 9.64573 19.2025 9.189 19.5691 8.5839C19.9356 7.9788 20.0747 7.26438 19.9617 6.56718C19.8487 5.86998 19.4909 5.23499 18.9517 4.77469C18.4125 4.31439 17.7266 4.05848 17.0156 4.05228ZM15.199 17.1094C15.1741 17.3562 15.0574 17.5848 14.8718 17.7506C14.6863 17.9165 14.4451 18.0077 14.1954 18.0065H5.78518C5.53552 18.0077 5.29435 17.9165 5.10878 17.7506C4.9232 17.5848 4.80654 17.3562 4.78158 17.1094L4.06901 10.0327H15.9116L15.199 17.1094ZM17.0156 8.0392H2.96504C2.69887 8.0392 2.4436 7.93419 2.25539 7.74727C2.06717 7.56035 1.96144 7.30682 1.96144 7.04247C1.96144 6.77812 2.06717 6.5246 2.25539 6.33768C2.4436 6.15076 2.69887 6.04574 2.96504 6.04574H17.0156C17.2817 6.04574 17.537 6.15076 17.7252 6.33768C17.9134 6.5246 18.0192 6.77812 18.0192 7.04247C18.0192 7.30682 17.9134 7.56035 17.7252 7.74727C17.537 7.93419 17.2817 8.0392 17.0156 8.0392Z" fill="white"></path></svg>
											</div>
										</div>
									</div>
								</div>
								<div class="popup_productpage_chastyami_item" data-type="payment_mono_chastyami">
									<div class="popup_productpage_chastyami_type_credit">
										<div class="popup_productpage_chastyami_mono">
											<img src="/catalog/view/theme/default/image/monobank-logo.png" class="popup_productpage_chastyami_mono_logo" alt="">
										</div>
									</div>

									<div class="popup_productpage_chastyami_conditions">
										<div class="popup_productpage_chastyami_period_month">
											<div class="selectric-wrapper">
												<div class="selectric-hide-select">
													<select tabindex="-1">
																<option value="3" selected="selected">3</option>
													</select>
												</div>
												
												
													<input class="selectric-input" tabindex="0">
											</div>
											<span>{{ credit_months }}</span>
										</div>
										<div class="popup_productpage_chastyami_month_payment">
											<span data-month="3">3 508.39 ₴</span>
										</div>
										<div class="popup_productpage_chastyami_btn_wrapper">
											<div class="popup_productpage_chastyami_btn">
												<span>{{ credit_continue }}</span>
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9975 16.013C12.2637 16.013 12.519 15.908 12.7072 15.7211C12.8954 15.5342 13.0011 15.2807 13.0011 15.0163V13.0229C13.0011 12.7585 12.8954 12.505 12.7072 12.3181C12.519 12.1311 12.2637 12.0261 11.9975 12.0261C11.7313 12.0261 11.4761 12.1311 11.2879 12.3181C11.0997 12.505 10.9939 12.7585 10.9939 13.0229V15.0163C10.9939 15.2807 11.0997 15.5342 11.2879 15.7211C11.4761 15.908 11.7313 16.013 11.9975 16.013ZM7.98309 16.013C8.24926 16.013 8.50453 15.908 8.69275 15.7211C8.88096 15.5342 8.9867 15.2807 8.9867 15.0163V13.0229C8.9867 12.7585 8.88096 12.505 8.69275 12.3181C8.50453 12.1311 8.24926 12.0261 7.98309 12.0261C7.71691 12.0261 7.46164 12.1311 7.27343 12.3181C7.08522 12.505 6.97948 12.7585 6.97948 13.0229V15.0163C6.97948 15.2807 7.08522 15.5342 7.27343 15.7211C7.46164 15.908 7.71691 16.013 7.98309 16.013ZM17.0156 4.05228H15.6306L13.8943 0.613566C13.8413 0.487034 13.7625 0.37273 13.663 0.277795C13.5634 0.182861 13.4452 0.109337 13.3158 0.0618182C13.1863 0.0142993 13.0484 -0.00619319 12.9106 0.00162138C12.7728 0.00943595 12.6382 0.0453897 12.515 0.107236C12.3918 0.169081 12.2829 0.25549 12.1948 0.361062C12.1068 0.466635 12.0417 0.589101 12.0035 0.720808C11.9653 0.852515 11.9548 0.990633 11.9728 1.12653C11.9908 1.26243 12.0368 1.39318 12.1079 1.51062L13.3825 4.05228H6.59811L7.87269 1.51062C7.97011 1.27829 7.97542 1.01796 7.88757 0.7819C7.79971 0.545839 7.62519 0.351522 7.39905 0.237964C7.17291 0.124405 6.91188 0.100012 6.66838 0.169681C6.42487 0.23935 6.21692 0.397924 6.08627 0.613566L4.35002 4.05228H2.96504C2.25568 4.063 1.57291 4.32214 1.03716 4.78402C0.501408 5.24589 0.147085 5.88081 0.036685 6.57681C-0.0737153 7.27281 0.0668992 7.98517 0.433728 8.58825C0.800557 9.19133 1.37004 9.6464 2.04172 9.87319L2.78439 17.3088C2.85929 18.0489 3.20927 18.7348 3.766 19.2324C4.32273 19.73 5.04623 20.0037 5.79522 20H14.2055C14.9545 20.0037 15.678 19.73 16.2347 19.2324C16.7914 18.7348 17.1414 18.0489 17.2163 17.3088L17.959 9.87319C18.6321 9.64573 19.2025 9.189 19.5691 8.5839C19.9356 7.9788 20.0747 7.26438 19.9617 6.56718C19.8487 5.86998 19.4909 5.23499 18.9517 4.77469C18.4125 4.31439 17.7266 4.05848 17.0156 4.05228ZM15.199 17.1094C15.1741 17.3562 15.0574 17.5848 14.8718 17.7506C14.6863 17.9165 14.4451 18.0077 14.1954 18.0065H5.78518C5.53552 18.0077 5.29435 17.9165 5.10878 17.7506C4.9232 17.5848 4.80654 17.3562 4.78158 17.1094L4.06901 10.0327H15.9116L15.199 17.1094ZM17.0156 8.0392H2.96504C2.69887 8.0392 2.4436 7.93419 2.25539 7.74727C2.06717 7.56035 1.96144 7.30682 1.96144 7.04247C1.96144 6.77812 2.06717 6.5246 2.25539 6.33768C2.4436 6.15076 2.69887 6.04574 2.96504 6.04574H17.0156C17.2817 6.04574 17.537 6.15076 17.7252 6.33768C17.9134 6.5246 18.0192 6.77812 18.0192 7.04247C18.0192 7.30682 17.9134 7.56035 17.7252 7.74727C17.537 7.93419 17.2817 8.0392 17.0156 8.0392Z" fill="white"></path></svg>
											</div>
										</div>

									</div>
								</div>
								

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
			{% if description and j3.document.isPopup('quickview') and j3.settings.get('quickviewDescription') and (j3.settings.get('quickviewDescriptionPosition') == 'default') %}
				<div class="description {{ quickviewExpand }}">
					<div class="expand-block">
						<div class="expand-content">
							{{ description }}
						</div>
						{% if j3.settings.get('quickviewExpandButton') %}
							<div class="block-expand-overlay">
								<a class="block-expand btn"></a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
			{% if not j3.document.isPopup('options') %}
				{% if product_blocks.default %}
					<div class="product-blocks blocks-default">
						{{ product_blocks.default|join }}
					</div>
				{% endif %}
			{% endif %}
			{% if tags and not j3.document.isPopup() and (j3.settings.get(stylePrefix ~ 'TagsPosition') == 'default') %}
				<div class="tags">
					<span class="tags-title">{{ text_tags }}</span>
					{% for tag in tags %}
						<a href="{{ tag.href }}">{{ tag.tag }}</a>
						{% if not loop.last %}
							<b>,</b>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			{% if not j3.document.isPopup() %}
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{% endif %}

<div class="reviews">
	<div class="reviews__container">
		<div class="reviews__title">
			<h3 class="reviews__title_text">{{ tab_review }}</h3>
		</div>
		<div class="reviews__row">
			<div class="reviews__body">
			</div>
			<div class="reviews__general">
				<div class="reviews__overall overall">
					<div class="overall__assessment">
						<p>4.9</p><svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
							<path d="M24.9581 8.69592C24.8792 8.47605 24.7358 8.28292 24.5453 8.13997C24.3547 7.99701 24.1252 7.91036 23.8845 7.89053L16.7817 6.89281L13.5985 0.678101C13.4963 0.474865 13.3367 0.303466 13.138 0.183537C12.9393 0.0636076 12.7096 0 12.4751 0C12.2406 0 12.0108 0.0636076 11.8121 0.183537C11.6134 0.303466 11.4538 0.474865 11.3516 0.678101L8.16842 6.88079L1.06559 7.89053C0.834554 7.92216 0.617352 8.0155 0.438628 8.15999C0.259904 8.30447 0.126815 8.4943 0.0544631 8.70794C-0.0117655 8.91671 -0.0177088 9.13891 0.0372712 9.35068C0.0922512 9.56246 0.206079 9.75582 0.366538 9.91002L5.52202 14.7183L4.27372 21.5461C4.22332 21.7726 4.24196 22.0083 4.32738 22.2248C4.4128 22.4413 4.56137 22.6295 4.75523 22.7667C4.94908 22.9038 5.17995 22.9841 5.42007 22.9979C5.66019 23.0117 5.89933 22.9583 6.10872 22.8443L12.4751 19.6348L18.8414 22.8443C19.0166 22.9395 19.2145 22.9892 19.4156 22.9886C19.68 22.9895 19.9379 22.9095 20.1521 22.7602C20.3458 22.6266 20.4957 22.4424 20.5842 22.2294C20.6727 22.0164 20.696 21.7835 20.6514 21.5581L19.4031 14.7303L24.5586 9.92204C24.7388 9.775 24.872 9.58173 24.9428 9.36469C25.0135 9.14766 25.0188 8.91575 24.9581 8.69592ZM17.281 13.5042C17.1365 13.6393 17.0281 13.8061 16.9651 13.9903C16.9021 14.1745 16.8863 14.3707 16.919 14.562L17.8178 19.6107L13.1242 17.2066C12.9418 17.1197 12.741 17.0745 12.5375 17.0745C12.334 17.0745 12.1332 17.1197 11.9508 17.2066L7.25716 19.6107L8.15594 14.562C8.18869 14.3707 8.17287 14.1745 8.10983 13.9903C8.0468 13.8061 7.93841 13.6393 7.79393 13.5042L4.04903 9.89799L9.30437 9.16473C9.5066 9.13764 9.69883 9.0632 9.86423 8.94794C10.0296 8.83267 10.1632 8.6801 10.2531 8.50359L12.4751 3.9237L14.8219 8.51561C14.9118 8.69212 15.0453 8.8447 15.2107 8.95996C15.3761 9.07523 15.5683 9.14966 15.7706 9.17675L21.0259 9.91002L17.281 13.5042Z" fill="#E6C622"/>
						</svg>
					</div>
					<p class="overall__title">{{ text__overall }}</p>
					<p class="overall__quantity">{{ text__reviews }}</p>
					<div class="overall__body">
						<div class="overall__one overall__row">
							<p>1</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
								<path d="M14.9748 5.29317C14.9275 5.15933 14.8415 5.04178 14.7272 4.95476C14.6128 4.86775 14.4751 4.815 14.3307 4.80293L10.069 4.19563L8.15912 0.412757C8.09779 0.289049 8.00203 0.184718 7.88281 0.111718C7.76359 0.0387177 7.62574 0 7.48503 0C7.34433 0 7.20648 0.0387177 7.08726 0.111718C6.96804 0.184718 6.87228 0.289049 6.81095 0.412757L4.90105 4.18831L0.639352 4.80293C0.500733 4.82218 0.370411 4.879 0.263177 4.96695C0.155942 5.0549 0.0760887 5.17045 0.0326779 5.30049C-0.00705933 5.42756 -0.0106253 5.56281 0.0223627 5.69172C0.0553507 5.82063 0.123647 5.93833 0.219923 6.03218L3.31321 8.95897L2.56423 13.115C2.53399 13.2529 2.54517 13.3963 2.59643 13.5281C2.64768 13.66 2.73682 13.7745 2.85314 13.858C2.96945 13.9414 3.10797 13.9903 3.25204 13.9987C3.39611 14.0071 3.5396 13.9746 3.66523 13.9052L7.48503 11.9516L11.3048 13.9052C11.41 13.9632 11.5287 13.9934 11.6494 13.993C11.808 13.9936 11.9628 13.9449 12.0913 13.854C12.2075 13.7727 12.2974 13.6606 12.3505 13.5309C12.4036 13.4013 12.4176 13.2595 12.3909 13.1223L11.6419 8.96628L14.7352 6.0395C14.8433 5.95 14.9232 5.83236 14.9657 5.70025C15.0081 5.56814 15.0113 5.42698 14.9748 5.29317ZM10.3686 8.21996C10.2819 8.3022 10.2169 8.40372 10.1791 8.51584C10.1412 8.62797 10.1318 8.74736 10.1514 8.86385L10.6907 11.937L7.8745 10.4736C7.76506 10.4207 7.64459 10.3932 7.52248 10.3932C7.40037 10.3932 7.27991 10.4207 7.17046 10.4736L4.3543 11.937L4.89356 8.86385C4.91321 8.74736 4.90372 8.62797 4.8659 8.51584C4.82808 8.40372 4.76305 8.3022 4.67636 8.21996L2.42942 6.02487L5.58262 5.57853C5.70396 5.56204 5.8193 5.51673 5.91854 5.44657C6.01778 5.37641 6.09789 5.28354 6.15185 5.1761L7.48503 2.38834L8.89312 5.18342C8.94708 5.29086 9.02719 5.38373 9.12643 5.45389C9.22567 5.52405 9.34101 5.56936 9.46234 5.58585L12.6156 6.03218L10.3686 8.21996Z" fill="#E6C622"/>
							</svg>
							<div class="overall__progressbar">
								<div class="overall__progress">

								</div>
							</div>
						</div>
						<div class="overall__two overall__row">
							<p>2</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
								<path d="M14.9748 5.29317C14.9275 5.15933 14.8415 5.04178 14.7272 4.95476C14.6128 4.86775 14.4751 4.815 14.3307 4.80293L10.069 4.19563L8.15912 0.412757C8.09779 0.289049 8.00203 0.184718 7.88281 0.111718C7.76359 0.0387177 7.62574 0 7.48503 0C7.34433 0 7.20648 0.0387177 7.08726 0.111718C6.96804 0.184718 6.87228 0.289049 6.81095 0.412757L4.90105 4.18831L0.639352 4.80293C0.500733 4.82218 0.370411 4.879 0.263177 4.96695C0.155942 5.0549 0.0760887 5.17045 0.0326779 5.30049C-0.00705933 5.42756 -0.0106253 5.56281 0.0223627 5.69172C0.0553507 5.82063 0.123647 5.93833 0.219923 6.03218L3.31321 8.95897L2.56423 13.115C2.53399 13.2529 2.54517 13.3963 2.59643 13.5281C2.64768 13.66 2.73682 13.7745 2.85314 13.858C2.96945 13.9414 3.10797 13.9903 3.25204 13.9987C3.39611 14.0071 3.5396 13.9746 3.66523 13.9052L7.48503 11.9516L11.3048 13.9052C11.41 13.9632 11.5287 13.9934 11.6494 13.993C11.808 13.9936 11.9628 13.9449 12.0913 13.854C12.2075 13.7727 12.2974 13.6606 12.3505 13.5309C12.4036 13.4013 12.4176 13.2595 12.3909 13.1223L11.6419 8.96628L14.7352 6.0395C14.8433 5.95 14.9232 5.83236 14.9657 5.70025C15.0081 5.56814 15.0113 5.42698 14.9748 5.29317ZM10.3686 8.21996C10.2819 8.3022 10.2169 8.40372 10.1791 8.51584C10.1412 8.62797 10.1318 8.74736 10.1514 8.86385L10.6907 11.937L7.8745 10.4736C7.76506 10.4207 7.64459 10.3932 7.52248 10.3932C7.40037 10.3932 7.27991 10.4207 7.17046 10.4736L4.3543 11.937L4.89356 8.86385C4.91321 8.74736 4.90372 8.62797 4.8659 8.51584C4.82808 8.40372 4.76305 8.3022 4.67636 8.21996L2.42942 6.02487L5.58262 5.57853C5.70396 5.56204 5.8193 5.51673 5.91854 5.44657C6.01778 5.37641 6.09789 5.28354 6.15185 5.1761L7.48503 2.38834L8.89312 5.18342C8.94708 5.29086 9.02719 5.38373 9.12643 5.45389C9.22567 5.52405 9.34101 5.56936 9.46234 5.58585L12.6156 6.03218L10.3686 8.21996Z" fill="#E6C622"/>
							</svg>
							<div class="overall__progressbar">
								<div class="overall__progress">

								</div>
							</div>
						</div>
						<div class="overall__three overall__row">
							<p>3</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
								<path d="M14.9748 5.29317C14.9275 5.15933 14.8415 5.04178 14.7272 4.95476C14.6128 4.86775 14.4751 4.815 14.3307 4.80293L10.069 4.19563L8.15912 0.412757C8.09779 0.289049 8.00203 0.184718 7.88281 0.111718C7.76359 0.0387177 7.62574 0 7.48503 0C7.34433 0 7.20648 0.0387177 7.08726 0.111718C6.96804 0.184718 6.87228 0.289049 6.81095 0.412757L4.90105 4.18831L0.639352 4.80293C0.500733 4.82218 0.370411 4.879 0.263177 4.96695C0.155942 5.0549 0.0760887 5.17045 0.0326779 5.30049C-0.00705933 5.42756 -0.0106253 5.56281 0.0223627 5.69172C0.0553507 5.82063 0.123647 5.93833 0.219923 6.03218L3.31321 8.95897L2.56423 13.115C2.53399 13.2529 2.54517 13.3963 2.59643 13.5281C2.64768 13.66 2.73682 13.7745 2.85314 13.858C2.96945 13.9414 3.10797 13.9903 3.25204 13.9987C3.39611 14.0071 3.5396 13.9746 3.66523 13.9052L7.48503 11.9516L11.3048 13.9052C11.41 13.9632 11.5287 13.9934 11.6494 13.993C11.808 13.9936 11.9628 13.9449 12.0913 13.854C12.2075 13.7727 12.2974 13.6606 12.3505 13.5309C12.4036 13.4013 12.4176 13.2595 12.3909 13.1223L11.6419 8.96628L14.7352 6.0395C14.8433 5.95 14.9232 5.83236 14.9657 5.70025C15.0081 5.56814 15.0113 5.42698 14.9748 5.29317ZM10.3686 8.21996C10.2819 8.3022 10.2169 8.40372 10.1791 8.51584C10.1412 8.62797 10.1318 8.74736 10.1514 8.86385L10.6907 11.937L7.8745 10.4736C7.76506 10.4207 7.64459 10.3932 7.52248 10.3932C7.40037 10.3932 7.27991 10.4207 7.17046 10.4736L4.3543 11.937L4.89356 8.86385C4.91321 8.74736 4.90372 8.62797 4.8659 8.51584C4.82808 8.40372 4.76305 8.3022 4.67636 8.21996L2.42942 6.02487L5.58262 5.57853C5.70396 5.56204 5.8193 5.51673 5.91854 5.44657C6.01778 5.37641 6.09789 5.28354 6.15185 5.1761L7.48503 2.38834L8.89312 5.18342C8.94708 5.29086 9.02719 5.38373 9.12643 5.45389C9.22567 5.52405 9.34101 5.56936 9.46234 5.58585L12.6156 6.03218L10.3686 8.21996Z" fill="#E6C622"/>
							</svg>
							<div class="overall__progressbar">
								<div class="overall__progress">

								</div>
							</div>
						</div>
						<div class="overall__four overall__row">
							<p>4</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
								<path d="M14.9748 5.29317C14.9275 5.15933 14.8415 5.04178 14.7272 4.95476C14.6128 4.86775 14.4751 4.815 14.3307 4.80293L10.069 4.19563L8.15912 0.412757C8.09779 0.289049 8.00203 0.184718 7.88281 0.111718C7.76359 0.0387177 7.62574 0 7.48503 0C7.34433 0 7.20648 0.0387177 7.08726 0.111718C6.96804 0.184718 6.87228 0.289049 6.81095 0.412757L4.90105 4.18831L0.639352 4.80293C0.500733 4.82218 0.370411 4.879 0.263177 4.96695C0.155942 5.0549 0.0760887 5.17045 0.0326779 5.30049C-0.00705933 5.42756 -0.0106253 5.56281 0.0223627 5.69172C0.0553507 5.82063 0.123647 5.93833 0.219923 6.03218L3.31321 8.95897L2.56423 13.115C2.53399 13.2529 2.54517 13.3963 2.59643 13.5281C2.64768 13.66 2.73682 13.7745 2.85314 13.858C2.96945 13.9414 3.10797 13.9903 3.25204 13.9987C3.39611 14.0071 3.5396 13.9746 3.66523 13.9052L7.48503 11.9516L11.3048 13.9052C11.41 13.9632 11.5287 13.9934 11.6494 13.993C11.808 13.9936 11.9628 13.9449 12.0913 13.854C12.2075 13.7727 12.2974 13.6606 12.3505 13.5309C12.4036 13.4013 12.4176 13.2595 12.3909 13.1223L11.6419 8.96628L14.7352 6.0395C14.8433 5.95 14.9232 5.83236 14.9657 5.70025C15.0081 5.56814 15.0113 5.42698 14.9748 5.29317ZM10.3686 8.21996C10.2819 8.3022 10.2169 8.40372 10.1791 8.51584C10.1412 8.62797 10.1318 8.74736 10.1514 8.86385L10.6907 11.937L7.8745 10.4736C7.76506 10.4207 7.64459 10.3932 7.52248 10.3932C7.40037 10.3932 7.27991 10.4207 7.17046 10.4736L4.3543 11.937L4.89356 8.86385C4.91321 8.74736 4.90372 8.62797 4.8659 8.51584C4.82808 8.40372 4.76305 8.3022 4.67636 8.21996L2.42942 6.02487L5.58262 5.57853C5.70396 5.56204 5.8193 5.51673 5.91854 5.44657C6.01778 5.37641 6.09789 5.28354 6.15185 5.1761L7.48503 2.38834L8.89312 5.18342C8.94708 5.29086 9.02719 5.38373 9.12643 5.45389C9.22567 5.52405 9.34101 5.56936 9.46234 5.58585L12.6156 6.03218L10.3686 8.21996Z" fill="#E6C622"/>
							</svg>
							<div class="overall__progressbar">
								<div class="overall__progress">

								</div>
							</div>
						</div>
						<div class="overall__five overall__row">
							<p>5</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
								<path d="M14.9748 5.29317C14.9275 5.15933 14.8415 5.04178 14.7272 4.95476C14.6128 4.86775 14.4751 4.815 14.3307 4.80293L10.069 4.19563L8.15912 0.412757C8.09779 0.289049 8.00203 0.184718 7.88281 0.111718C7.76359 0.0387177 7.62574 0 7.48503 0C7.34433 0 7.20648 0.0387177 7.08726 0.111718C6.96804 0.184718 6.87228 0.289049 6.81095 0.412757L4.90105 4.18831L0.639352 4.80293C0.500733 4.82218 0.370411 4.879 0.263177 4.96695C0.155942 5.0549 0.0760887 5.17045 0.0326779 5.30049C-0.00705933 5.42756 -0.0106253 5.56281 0.0223627 5.69172C0.0553507 5.82063 0.123647 5.93833 0.219923 6.03218L3.31321 8.95897L2.56423 13.115C2.53399 13.2529 2.54517 13.3963 2.59643 13.5281C2.64768 13.66 2.73682 13.7745 2.85314 13.858C2.96945 13.9414 3.10797 13.9903 3.25204 13.9987C3.39611 14.0071 3.5396 13.9746 3.66523 13.9052L7.48503 11.9516L11.3048 13.9052C11.41 13.9632 11.5287 13.9934 11.6494 13.993C11.808 13.9936 11.9628 13.9449 12.0913 13.854C12.2075 13.7727 12.2974 13.6606 12.3505 13.5309C12.4036 13.4013 12.4176 13.2595 12.3909 13.1223L11.6419 8.96628L14.7352 6.0395C14.8433 5.95 14.9232 5.83236 14.9657 5.70025C15.0081 5.56814 15.0113 5.42698 14.9748 5.29317ZM10.3686 8.21996C10.2819 8.3022 10.2169 8.40372 10.1791 8.51584C10.1412 8.62797 10.1318 8.74736 10.1514 8.86385L10.6907 11.937L7.8745 10.4736C7.76506 10.4207 7.64459 10.3932 7.52248 10.3932C7.40037 10.3932 7.27991 10.4207 7.17046 10.4736L4.3543 11.937L4.89356 8.86385C4.91321 8.74736 4.90372 8.62797 4.8659 8.51584C4.82808 8.40372 4.76305 8.3022 4.67636 8.21996L2.42942 6.02487L5.58262 5.57853C5.70396 5.56204 5.8193 5.51673 5.91854 5.44657C6.01778 5.37641 6.09789 5.28354 6.15185 5.1761L7.48503 2.38834L8.89312 5.18342C8.94708 5.29086 9.02719 5.38373 9.12643 5.45389C9.22567 5.52405 9.34101 5.56936 9.46234 5.58585L12.6156 6.03218L10.3686 8.21996Z" fill="#E6C622"/>
							</svg>
							<div class="overall__progressbar">
								<div class="overall__progress">

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Sofii rewiew_cust  -->

				{% if review_status %}
					<div class="">
						{# andrii ostrovskij #}
						<form class="form-horizontal rewiew_cust form-review " id="form-review">
							<div class="rewiew_right_cust">
								{# скопійовано з попереднього сайту #}
								<div class="reviews__overall overall">
								{# /скопійовано з попереднього сайту #}
								<p class="reviews-form__title">{{ text__leave_a_review }}</p>
								{% if review_guest %}
									<div class="form-group required">
											<label class="control-label" for="input-name">{{ text__name }}</label>
											<input type="text" name="name" value="{{ customer_name }}" id="input-name"
												   class="form-control"/>
									</div>
									<div class="form-group">
											<label class="control-label" for="input-email">{{ text__email }}</label>
											<input type="email" name="email" value="{{ customer_email }}" id="input-email"
												   class="form-control"/>
									</div>
									<div class="form-group required">
											<label class="control-label" for="input-review">{{ text__review }}</label>
											<textarea name="text" rows="5" id="input-review"
													  class="form-control"></textarea>
									</div>
									<div class="form-group ">
											<label class="control-label"
												   for="input-advantages">{{ entry_advantages }}</label>
											<input type="text" name="advantages" value="{{ customer_advantages }}"
												   id="input-name" class="form-control"/>
									</div>
									<div class="form-group ">
											<label class="control-label"
												   for="input-disadvantages">{{ entry_disadvantages }}</label>
											<input type="text" name="disadvantages" value="{{ customer_disadvantages }}"
												   id="input-name" class="form-control"/>
									</div>
									<div class="form-group required">
											<label class="control-label">{{ entry_rating }}</label>
											<div class="star-rating">
												<input type="radio" id="rating1" name="rating" value="1">
												<label for="rating1">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
														<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>
													</svg>
												</label>
												<input type="radio" id="rating2" name="rating" value="2">
												<label for="rating2">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
														<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>
													</svg>
												</label>
												<input type="radio" id="rating3" name="rating" value="3">
												<label for="rating3">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
														<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>
													</svg>
												</label>
												<input type="radio" id="rating4" name="rating" value="4">
												<label for="rating4">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
														<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>
													</svg>
												</label>
												<input type="radio" id="rating5" name="rating" value="5">
												<label for="rating5">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
														<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>
													</svg>
												</label>
										</div>
									</div>
									{{ captcha }}
									<div class="form-group ">
											<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="">{{ text__leave_a_review }}</button>
									</div>
								{% else %}
									{{ text_login }}
								{% endif %}
							</div>

						</form>
					</div>
					{# andrii ostrovskij #}
				{% endif %}



				<!-- Sofii rewiew_cust  -->

{#				<div class="reviews__form reviews-form">#}
{#					<p class="reviews-form__title">{{ text__leave_a_review }}</p>#}
{#					<form id="form-review">#}
{#						{% if review_status %}#}
{#							<label for="name">{{ text__name }}</label>#}
{#							<input name="name" value="{{ customer_name }}" id="input-name" type="text" required>#}

{#							<label for="email">{{ text__email }}</label>#}
{#							<input type="email" id="email" name="email" required>#}

{#							<label for="text">{{ text__review }}</label>#}
{#							<textarea id="input-review" name="text" rows="4" required></textarea>#}

{#							<label for="advantages">{{ text_benefits }}</label>#}
{#							<input type="text" id="advantages" name="advantages" required>#}

{#							<label for="disadvantages">{{ text_disadvantages }}</label>#}
{#							<input type="text" id="disadvantages" name="disadvantages" required>#}

{#							<label>{{ text__rate_the_product }}</label>#}
{#							<div class="star-rating">#}
{#								<input type="radio" id="rating1" name="rating" value="1">#}
{#								<label for="rating1">#}
{#									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">#}
{#										<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>#}
{#									</svg>#}
{#								</label>#}
{#								<input type="radio" id="rating2" name="rating" value="2">#}
{#								<label for="rating2">#}
{#									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">#}
{#										<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>#}
{#									</svg>#}
{#								</label>#}
{#								<input type="radio" id="rating3" name="rating" value="3">#}
{#								<label for="rating3">#}
{#									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">#}
{#										<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>#}
{#									</svg>#}
{#								</label>#}
{#								<input type="radio" id="rating4" name="rating" value="4">#}
{#								<label for="rating4">#}
{#									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">#}
{#										<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>#}
{#									</svg>#}
{#								</label>#}
{#								<input type="radio" id="rating5" name="rating" value="5">#}
{#								<label for="rating5">#}
{#									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">#}
{#										<path d="M15.9732 5.67125C15.9227 5.52786 15.8309 5.40191 15.709 5.30867C15.587 5.21544 15.4401 5.15893 15.2861 5.146L10.7403 4.49531L8.70306 0.44224C8.63764 0.309695 8.5355 0.197912 8.40833 0.119698C8.28116 0.0414832 8.13412 0 7.98404 0C7.83396 0 7.68691 0.0414832 7.55974 0.119698C7.43258 0.197912 7.33043 0.309695 7.26502 0.44224L5.22779 4.48747L0.681976 5.146C0.534115 5.16662 0.395105 5.2275 0.280722 5.32173C0.166338 5.41596 0.0811613 5.53976 0.0348564 5.67909C-0.00752995 5.81525 -0.0113336 5.96016 0.0238536 6.09827C0.0590407 6.23639 0.13189 6.36249 0.234585 6.46305L3.53409 9.59889L2.73518 14.0518C2.70293 14.1995 2.71485 14.3532 2.76952 14.4944C2.82419 14.6357 2.91928 14.7584 3.04334 14.8478C3.16741 14.9373 3.31517 14.9896 3.46885 14.9986C3.62252 15.0076 3.77557 14.9728 3.90958 14.8985L7.98404 12.8053L12.0585 14.8985C12.1706 14.9605 12.2973 14.993 12.426 14.9925C12.5952 14.9931 12.7603 14.941 12.8973 14.8436C13.0213 14.7565 13.1172 14.6363 13.1739 14.4974C13.2305 14.3585 13.2454 14.2066 13.2169 14.0596L12.418 9.60673L15.7175 6.47089C15.8329 6.375 15.9181 6.24896 15.9634 6.10741C16.0086 5.96586 16.012 5.81462 15.9732 5.67125ZM11.0598 8.80709C10.9674 8.89522 10.898 9.00399 10.8577 9.12412C10.8173 9.24425 10.8072 9.37218 10.8282 9.49698L11.4034 12.7896L8.39947 11.2217C8.28273 11.165 8.15423 11.1355 8.02398 11.1355C7.89373 11.1355 7.76524 11.165 7.64849 11.2217L4.64458 12.7896L5.2198 9.49698C5.24076 9.37218 5.23064 9.24425 5.19029 9.12412C5.14995 9.00399 5.08058 8.89522 4.98811 8.80709L2.59138 6.45521L5.9548 5.977C6.08422 5.95933 6.20725 5.91079 6.31311 5.83561C6.41897 5.76044 6.50442 5.66094 6.56197 5.54582L7.98404 2.55893L9.48599 5.55366C9.54355 5.66878 9.629 5.76828 9.73485 5.84345C9.84071 5.91863 9.96374 5.96717 10.0932 5.98484L13.4566 6.46305L11.0598 8.80709Z"/>#}
{#									</svg>#}
{#								</label>#}
{#							</div>#}
{#							<button type="button" id="button-review" data-loading-text="{{ text_loading }}" type="submit">{{ text__leave_a_review }}</button>#}
{#						{% endif %}#}
{#					</form>#}
{#				</div>#}
			</div>
		</div>
	</div>
</div>
{# on click #}
<script src="catalog/view/javascript/jquery.maskedinput.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#input-payment-telephone").mask("{{ text_one_click_mask }}",{placeholder:" "});
	});
</script>

<script type="text/javascript"><!--
	$('#button-oneclick').on('click', function() {
		$.ajax({
			url: 'index.php?route=checkout/one_click/add',
			type: 'post',
			data: $('#oneclick input[type=\'text\'], #oneclick input[type=\'hidden\']'),
			dataType: 'json',
			beforeSend: function() {
				$('#button-oneclick').button('loading');
			},
			complete: function() {
				$('#button-oneclick').button('reset');
			},
			success: function(json) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');

				if (json['error']) {
					if (json['error']['telephone']) {
						$('.breadcrumb').after('<div class="alert alert-danger text-danger">' + json['error']['telephone'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						$('html, body').animate({ scrollTop: 0 }, 'slow');
					}
					if (json['error']['product']) {
						$('.breadcrumb').after('<div class="alert alert-danger text-danger">' + json['error']['product'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						$('html, body').animate({ scrollTop: 0 }, 'slow');
					}
					if (json['error']['order']) {
						$('.breadcrumb').after('<div class="alert alert-danger text-danger">' + json['error']['order'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
						$('html, body').animate({ scrollTop: 0 }, 'slow');
					}
				}

				if (json['success']) {
					$('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
	//--></script>
{# on click #}

{# Магія зірок #}
<script>
	const ratingInputs = document.querySelectorAll('.star-rating input[type="radio"]');
	const starLabels = document.querySelectorAll('.star-rating label');

	ratingInputs.forEach((input, index) => {
		input.addEventListener('change', () => {
			const selectedRating = parseInt(input.value);

			starLabels.forEach((label, i) => {
				const svgPath = label.querySelector('svg path');

				if (i < selectedRating) {
					svgPath.style.fill = '#EFBE11';
				} else {
					svgPath.style.fill = '#BDC2D3';
				}
			});
		});
	});
</script>

<script
		type="text/javascript">
	<!--
	$('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
		$.ajax({
			url: 'index.php?route=product/product/getRecurringDescription',
			type: 'post',
			data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
			dataType: 'json',
			beforeSend: function () {
				$('#recurring-description').html('');
			},
			success: function (json) {
				$('.alert-dismissible, .text-danger').remove();

				if (json['success']) {
					$('#recurring-description').html(json['success']);
				}
			}
		});
	});
	//
	-->
</script>
<script
		type="text/javascript">
	<!--
	$('#button-cart, [data-quick-buy]').on('click', function () {
		var $btn = $(this);
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: $('#product .button-group-page input[type=\'text\'], #product .button-group-page input[type=\'hidden\'], #product .button-group-page input[type=\'radio\']:checked, #product .button-group-page input[type=\'checkbox\']:checked, #product .button-group-page select, #product .button-group-page textarea, ' + '#product .product-options input[type=\'text\'], #product .product-options input[type=\'hidden\'], #product .product-options input[type=\'radio\']:checked, #product .product-options input[type=\'checkbox\']:checked, #product .product-options select, #product .product-options textarea, ' + '#product select[name="recurring_id"]'),
			dataType: 'json',
			beforeSend: function () {
				$('#button-cart').button('loading');
			},
			complete: function () {
				$('#button-cart').button('reset');
			},
			success: function (json) {
				$('.alert-dismissible, .text-danger').remove();
				$('.form-group').removeClass('has-error');

				if (json['error']) {
					if (json['error']['option']) {
						for (i in json['error']['option']) {
							var element = $('#input-option' + i.replace('_', '-'));

							if (element.parent().hasClass('input-group')) {
								element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							} else {
								element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							}
						}
					}

					if (json['error']['recurring']) {
						$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
					}

// Highlight any found errors
					$('.text-danger').parent().addClass('has-error');

					try {
						$('html, body').animate({
							scrollTop: $('.form-group.has-error').offset().top - 50
						}, 'slow');
					} catch (e) {}
				}

				if (json['success']) {
					if ($('html').hasClass('popup-options')) {
						parent.$(".popup-options .popup-close").trigger('click');
					}

					if (json['notification']) {
						parent.show_notification(json['notification']);
					} else {
						parent.$('#content').parent().before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					}

					parent.$('#cart-total').html(json['total']);
					parent.$('#cart-items,.cart-badge').html(json['items_count']);

					if (json['items_count']) {
						parent.$('#cart-items,.cart-badge').removeClass('count-zero');
					} else {
						parent.$('#cart-items,.cart-badge').addClass('count-zero');
					}

					if (Journal['scrollToTop']) {
						parent.$('html, body').animate({
							scrollTop: 0
						}, 'slow');
					}

					parent.$('.cart-content ul').load('index.php?route=common/cart/info ul li');

					if (window.location.href.indexOf('quick_buy=true') !== -1) {
						parent.location.href = Journal['checkoutUrl'];
					}

					if ($btn.data('quick-buy') !== undefined) {
						location = Journal['checkoutUrl'];
					}

					if (parent.window['_QuickCheckout']) {
						parent.window['_QuickCheckout'].save();
					}

					if (json['redirect']) {
						parent.location.href = json['redirect'];
					}
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + '\r\n' + xhr.statusText + '\r\n' + xhr.responseText);
			}
		});
	});
	//
	-->
</script>
<script
		type="text/javascript">
	<!--
	$('.date').datetimepicker({language: '{{ datepicker }}', pickTime: false});

	$('.datetime').datetimepicker({language: '{{ datepicker }}', pickDate: true, pickTime: true});

	$('.time').datetimepicker({language: '{{ datepicker }}', pickDate: false});

	$('button[id^=\'button-upload\']').on('click', function () {
		var node = this;

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function () {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				$.ajax({
					url: 'index.php?route=tool/upload',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					beforeSend: function () {
						$(node).button('loading');
					},
					complete: function () {
						$(node).button('reset');
					},
					success: function (json) {
						$('.text-danger').remove();

						if (json['error']) {
							$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
						}

						if (json['success']) {
							alert(json['success']);

							$(node).parent().find('input').val(json['code']);
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});
	//
	-->
</script>
<script
		type="text/javascript">
	<!--
	$(function () {
		$('#review').delegate('.pagination a', 'click', function (e) {
			e.preventDefault();

			$('#review').fadeOut('slow');

			$('#review').load(this.href);

			$('#review').fadeIn('slow');
		});

		$('.reviews__body').load('index.php?route=product/product/review&product_id={{ product_id }}');


		$('#button-review').on('click', function () {
			$.ajax({
				url: 'index.php?route=product/product/write&product_id={{ product_id }}',
				type: 'post',
				dataType: 'json',
				data: $("#form-review").serialize(),
				beforeSend: function () {
					$('#button-review').button('loading');
				},
				complete: function () {
					$('#button-review').button('reset');
				},
				success: function (json) {
					$('.alert-dismissible').remove();

					if (json['error']) {
						$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
					}

					if (json['success']) {
						$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

						$('input[name=\'name\']').val('');
						$('input[name=\'email\']').val('');
						$('input[name=\'advantages\']').val('');
						$('input[name=\'disadvantages\']').val('');
						$('textarea[name=\'text\']').val('');
						$('input[name=\'rating\']:checked').prop('checked', false);
					}
				}
			});
		});
	});


	$(document).ready(function () {
		$('.thumbnails').magnificPopup({
			type: 'image',
			delegate: 'a',
			gallery: {
				enabled: true
			}
		});
	});

	$(document).ready(function () {
		$('.review-links a').on('click', function () {
			var $review = $('#review');
			if ($review.length) {
				$('a[href="#' + $review.closest('.module-item').attr('id') + '"]').trigger('click');
				$('a[href="#' + $review.closest('.tab-pane').attr('id') + '"]').trigger('click');
				$('a[href="#' + $review.closest('.panel-collapse').attr('id') + '"]').trigger('click');

				$([document.documentElement, document.body]).animate({
					scrollTop: $review.offset().top - 100
				}, 200);
			}
		});
	});

	//
	-->
</script>
{% if not j3.document.isPopup() %}
	{{ j3.loadController('journal3/seo/rich_snippets', breadcrumbs) }}
{% endif %}
{{ footer }}
