{{ header }}
{#<ul class="breadcrumb">#}
{#    {% for breadcrumb in breadcrumbs %}#}
{#        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
{#    {% endfor %}#}
{#</ul>#}
{% if j3.settings.get('pageTitlePosition') == 'top' %}
    <h1 class="title page-title">
    <span>
      {{ heading_title }}
{#        {% if weight %}#}
{#            &nbsp;({{ weight }})#}
{#        {% endif %}#}
    </span>
    </h1>
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{{ j3.loadController('journal3/layout', 'top') }}
<div id="checkout-cart" class="container">
    {% if attention %}
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {% if j3.settings.get('pageTitlePosition') == 'default' %}
                <h1 class="title page-title">{{ heading_title }}
                    {% if weight %}
                        &nbsp;({{ weight }})
                    {% endif %} </h1>
            {% endif %}
            {{ content_top }}
            <div class="cart-page">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="cart-table">
{#                    <div class="table-responsive">#}
{#                        <table class="table table-bordered">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <td class="text-center td-image">{{ column_image }}</td>#}
{#                                <td class="text-left td-name">{{ column_name }}</td>#}
{#                                <td class="text-center td-model">{{ column_model }}</td>#}
{#                                <td class="text-center td-qty">{{ column_quantity }}</td>#}
{#                                <td class="text-center td-price">{{ column_price }}</td>#}
{#                                <td class="text-center td-total">{{ column_total }}</td>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}

{#                            {% for product in products %}#}

{#                    /////////////////////////////////////////////////////////#}
{#                                <tr>#}
{#                                    <td class="text-center td-image">{% if product.thumb %} <a#}
{#                                                href="{{ product.href }}"><img src="{{ product.thumb }}"#}
{#                                                                               alt="{{ product.name }}"#}
{#                                                                               title="{{ product.name }}"/></a> {% endif %}#}
{#                                    </td>#}
{#                                    <td class="text-left td-name"><a#}
{#                                                href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %}#}
{#                                            <span class="text-danger">***</span> {% endif %}#}
{#                                        {% if product.option %}#}
{#                                            {% for option in product.option %} <br/>#}
{#                                                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}#}
{#                                        {% endif %}#}
{#                                        {% if product.reward %} <br/>#}
{#                                            <small>{{ product.reward }}</small> {% endif %}#}
{#                                        {% if product.recurring %} <br/>#}
{#                                            <span class="label label-info">{{ text_recurring_item }}</span>#}
{#                                            <small>{{ product.recurring }}</small> {% endif %}</td>#}
{#                                    <td class="text-center td-model">{{ product.model }}</td>#}
{#                                    <td class="text-center td-qty">#}
{#                                        <div class="input-group btn-block">#}
{#                                            <div class="stepper">#}
{#                                                <span class="stepper-arrow stepper__minus"#}
{#                                                      v-on:click="updateCartItemQuantity(index, -1)"><svg height="1em"#}
{#                                                                                                          viewBox="0 0 320 512"><path#}
{#                                                                d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></span>#}
{#                                                <input type="text" name="quantity[{{ product.cart_id }}]"#}
{#                                                       value="{{ product.quantity }}" size="1" class="form-control"/>#}
{#                                                <span class="stepper-arrow stepper__plus"#}
{#                                                      v-on:click="updateCartItemQuantity(index, 1)"><svg height="1em"#}
{#                                                                                                         viewBox="0 0 320 512"><path#}
{#                                                                d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></span>#}
{#                                            </div>#}
{#                                            <span class="input-group-btn">#}
{#                    <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-update"><i#}
{#                                class="fa fa-refresh"></i></button>#}
{#                    <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-remove"#}
{#                            onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>#}
{#                  </span>#}
{#                                        </div>#}
{#                                    </td>#}
{#                                    <td class="text-center td-price">{{ product.price }}</td>#}
{#                                    <td class="text-center td-total">{{ product.total }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                            {% for voucher in vouchers %}#}
{#                                <tr>#}
{#                                    <td></td>#}
{#                                    <td class="text-left td-voucher">{{ voucher.description }}</td>#}
{#                                    <td class="text-left td-voucher"></td>#}
{#                                    <td class="text-left td-voucher">#}
{#                                        <div class="input-group btn-block" style="max-width: 200px;">#}
{#                                            <input type="text" name="" value="1" size="1" disabled="disabled"#}
{#                                                   class="form-control"/>#}
{#                                            <span class="input-group-btn">#}
{#                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"#}
{#                          onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>#}
{#                  </span></div>#}
{#                                    </td>#}
{#                                    <td class="text-right td-voucher">{{ voucher.amount }}</td>#}
{#                                    <td class="text-right td-voucher">{{ voucher.amount }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}

{#                    ////////////////////////////////////////////////////////////////////////////////#}

                    <div>
                        {% for product in products %}
  
                            <div style="display: flex; justify-content: space-between; background: #FFF; padding: 0 107px 0 42px">
                            <div style="display: flex;">
                                <div>
                                    {% if product.thumb %}
                                        <a href="{{ product.href }}">
                                            <img  src="{{ product.thumb }}" alt="{{ product.name }}" style="padding: 30% 40px 0px 0px; "
                                                 title="{{ product.name }}"/>
                                        </a>
                                    {% endif %}
                                </div>
                                <div>
                                        <div class="product-sku">
                                            <p>Код товару: {{ product.sku }}</p>
                                        </div>
                                    <h2>
                                        <a style="font-size: 18px" href="{{ product.href }}">{{ product.name }}</a>
                                        {% if not product.stock %}
                                            <span class="text-danger">***</span>
                                        {% endif %}
                                    </h2>
                                    <p>{{ product.price }}</p>
                                </div>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <div>
                                    <div style="display: flex;" class="stepper">
                                                    <button type="submit" class="stepper-arrow stepper__minus btn-update" v-on:click="updateCartItemQuantity(index, -1)">
                                                        <svg height="1em" viewBox="0 0 320 512">
                                                            <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></button>
                                        <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control"/>
                                        <button type="submit" class="stepper-arrow stepper__plus btn-update" v-on:click="updateCartItemQuantity(index, 1)">
                                            <svg height="1em" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></button>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="text-center td-price">{{ product.price }}</h3>
                                    <p class="text-center td-total">{{ product.total }}</p>
                                </div>
                            </div>
                                
                                <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-remove"
                                        onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                            </div>
                        {% endfor %}
                    </div>
                </form>
                <div>
                <div style="display: flex; align-items: center;" class="cart-bottom">
                    <div class="panels-total">
{#                        {% for product in products %}#}
                        <h3>{{ cart_title_order }}</h3>
{#                        <p>{{ cart_text_ware }}{{ product.price }}</p>#}
{#                        <p style="color:#F45656;">{{ cart_text_discount }}</p>#}
{#                        <p>{{ cart_the_total_cost }}</p>#}
{#                        {% endfor %}#}
                        {% if modules and j3.settings.get('cartPanelsStatus') %}
                            <div class="cart-panels">
{#                                <h2 class="title">{{ text_next }}</h2>#}
                                <p>{{ text_next_choice }}</p>
                            </div>
                        {% endif %}
                        <div class="cart-total">
                            <table class="table table-bordered">
                                {% for total in totals %}
                                    <tr>
                                        <td><strong>{{ total.title }}:</strong></td>
                                        <td>{{ total.text }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="buttons clearfix">
                            <div style="padding: 0px 0px 50px 0px;" class="pull-right"><a href="{{ checkout }}"
                                                       class="btn btn-primary"><span>{{ button_checkout }}</span></a></div>
                        </div>
                        <div id="oneclick" >
                            <p>{{ text_one_click_header }}</p>
                            <div class="input-group">
                                <input type="text" name="telephone" value="" placeholder="{{ text_one_click_placeholder }}" id="input-payment-telephone" class="form-control">
                                {% for product in products %}

                                <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                <span class="input-group-btn">
            {% endfor %}
                    <button type="submit" id="button-oneclick" class="btn btn-primary">{{  text_one_click_button }}</button>
                </span>
                            </div>
                            <span class="help-block">{{ text_one_click_help }}</span>
                        </div>
                    </div>

                </div>

                <div style="display: flex; align-items: center;" class="cart-bottom"  id="accordion">
                    <div class="panel-group"> {% for module in modules %}
                            {{ module }}
                        {% endfor %}
                    </div>
                </div>
                    <div style="display: flex; align-items: center;" class="cart-bottom">
                    <div class="simple__buy__in__credit__cust">
                        <div class="simple__buy__btn__cust">
                            <a href="#" class="custom__button__cart__in__credit__cust">{{ cart_apply_for_credit }}</a>
                        </div>
                        <div class="simple__buy__text__cust">{{ text_cart_text_cust }}</div>
                    </div>
                    </div>
                </div>


            </div>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
<style>
    #content {
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
    }
    html:not(.popup) .page-title {
        padding-bottom: 0;
    }
    .cart-bottom {
        background: #fff;
        padding: 20px;
        margin-left: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(226,226,226,1);
    }
    .route-checkout-cart .buttons>div+div {
        padding-left: 0px;
    }
    .simple__buy__text__cust{
        color: #BDC2D3;
        font-family: Proxima Nova;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
    .simple__buy__in__credit__cust{
        width: 100%;
    }
    .custom__button__cart__in__credit__cust{
    width: 100%;
    }
    .custom__button__cart__in__credit__cust{
        border-radius: 5px;
        background: #F1F1F5;
        text-align: center;
        padding: 16px 0;
        color: #343434;
        font-family: Proxima Nova;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    .clearfix{
        border-bottom: 1px solid #E8EBF4;
    }
</style>

<script type="text/javascript">
    $('#button-oneclick').on('click', function() {
        $.ajax({
            url: 'index.php?route=checkout/cart/addCart',
            type: 'post',
            data: $('#oneclick input[type=\'text\'], #oneclick input[type=\'hidden\']'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-oneclick').button('loading');
            },
            complete: function() {
                $('#button-oneclick').button('reset');
            },
            success: function(json) {
                $('.alert, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['telephone']) {
                        $('.breadcrumb').after('<div class="alert alert-danger text-danger">' + json['error']['telephone'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                    }
                    if (json['error']['product']) {
                        $('.breadcrumb').after('<div class="alert alert-danger text-danger">' + json['error']['product'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                    }
                    if (json['error']['order']) {
                        $('.breadcrumb').after('<div class="alert alert-danger text-danger">' + json['error']['order'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                    }
                }

                if (json['success']) {
                    $('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>